#navMenu.navmenu
  ul#menu.menu
    li#menu01: a(href="http://localhost:3000") Home
    li#menu02: a(href="http://localhost:3000/user_search") Search
    li#menu03: a(href="http://localhost:3000") Other
    li#menu04: a(href="http://localhost:3000") Other