extends layout

block content
  .container
    h1= title
    .homelist
      p: a(href="http://localhost:3000/api/deleteMany") deleteMany
      p: a(href="http://localhost:3000/api/insertmany") insertMany
      p: a(href="http://localhost:3000/api/find") Finds
